<div modal="modal_should_be_open.bills_sponsored" close="modal_close('bills_sponsored')" options="modal_options">
  <div class="modal-header">
    <h3>Sponsored Bills</h3>
  </div>
  <div class="modal-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Official Title</th>
          <th>Co-Sponsors</th>
          <th>Enacted</th>
          <th>Text</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="bill in selected_rep.bills.sponsored">
          <td>{{bill.short_title}}</td>
          <td>{{bill.cosponsors_count}}</td>
          <td>{{bill.history.enacted}}</td>
          <td class="span1"><a href={{bill.urls.congress}} target="_blank">Link <i class="icon-share"></i></a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <span><i class="icon-share"></i> External Site</span>
    <button class="btn btn-warning cancel" ng-click="modal_close('bills_sponsored')">Close</button>
  </div>
</div>