<sub-view template="header/comparison"></sub-view>
<div class="row-fluid">
  <div class="span6">
    <ng-switch on="loaded.bills">
      <div ng-switch-when="false">
        <sub-view template="loading"></sub-view>
      </div>
      <div ng-switch-when="true">
        <div class="component">
          <h1>Bills Co-Sponsored by Eachother</h1>
          <p ng-repeat="bill in comparison.bills">{{bill.official_title}}</p>
        </div>
      </div>
    </ng-switch>
  </div>
  <div class="span6">
    <ng-switch on="loaded.contributors">
      <div ng-switch-when="false">
        <sub-view template="loading"></sub-view>
      </div>
      <div ng-switch-when="true">
        <div class="component">
          <h1>Common Contributors</h1>
          <!-- <p ng-repeat="bill in comparison.bills">{{bill.official_title}}</p> -->
        </div>
      </div>
    </ng-switch>
  </div>
</div>