<div ng-controller="IndividualCtrl">

  <div class="row">
    <span>Zip Code: </span>
    <input size="5" name="zip" ng-model="zip" type="zip" value={{zip}} required>

    <div class="btn-group">
      <button type="button" class="btn btn-primary" ng-model="$parent.selected_rep" btn-radio='rep' ng-repeat="rep in reps">{{rep.fullname}}</button>
    </div>
  </div>

  <!-- a scope variable can't be passed into the sub_view attribute directive so switch must be used -->
  <ng-switch on="sub_view">
    <div ng-switch-when="loading">
      <div sub_view="individual-loading"></div>
    </div>
    <div ng-switch-when="house">
      <div sub_view="individual-house"></div>
    </div>
    <div ng-switch-when="house-leader">
      <div sub_view="individual-house-leader"></div>
    </div>
    <div ng-switch-when="senate">
      <div sub_view="individual-senate"></div>
    </div>
  </ng-switch>

</div>
