<div>

  <div class="row-fluid">
    <div class="span12">
      <span>Zip Code: </span>
      <input class="zip" name="zip" ng-model="zip" type="zip" value={{zip}} required>

      <div class="reps-list btn-group">
        <button type="button" class="btn btn-primary" ng-model="$parent.selected_rep" btn-radio='rep' ng-repeat="rep in reps_zip">{{rep.overview.fullname}}</button>
      </div>
      <span>Search All Reps: </span>
      <input type="text" ng-model="selected_rep_name" typeahead="rep as rep.name for rep in reps_names_list | filter:$viewValue | limitTo:8">
    </div>
  </div>


  <!-- a scope variable can't be passed into the sub_view attribute directive so switch must be used -->
  <div class="row-fluid">
    <div class="container span12">
      <ng-switch on="sub_view_rep_type">
        <div ng-switch-when="loading">
          <sub-view template="loading"></sub-view>
        </div>
        <div ng-switch-when="house">
          <sub-view template="individual/house"></sub-view>
        </div>
        <div ng-switch-when="house-leader">
          <sub-view template="individual/house-leader"></sub-view>
        </div>
        <div ng-switch-when="senate">
          <sub-view template="individual/senate"></sub-view>
        </div>
      </ng-switch>
    </div>
  </div>

</div>
