<div class="row-fluid">
  <div class="span6">
    <h1>{{selected_rep.fullname}}</h1>
    <div>
      <span>{{selected_rep.state_name}} {{selected_rep.chamber}} District: {{selected_rep.district}}, {{selected_rep.party_name}}</span><br />
      <span>Current Term: {{selected_rep.term_start}} through {{selected_rep.term_end}}</span><br />
      <span>Office: {{selected_rep.office}}</span><br />
      <span>Contact: Phone: <a href="tel:{{selected_rep.phone}}">{{selected_rep.phone}}</a>, Fax: <a href="tel:{{selected_rep.fax}}">{{selected_rep.phone}}</a>, <a href="{{selected_rep.website}}" target="_blank">Website</a>, <a href="https://twitter.com/{{selected_rep.twitter_id}}" target="_blank">Twitter</a>, <a href="https://www.facebook.com/{{selected_rep.facebook_id}}" target="_blank">Facebook</a>, <a href="https://www.youtube.com/{{selected_rep.youtube_id}}" target="_blank">Youtube</a></span><br />
    </div>
  </div>
  <div class="span6">
    <h1> Committees </h1>
    <div ng-repeat="committee in selected_rep.committees">
      <p>{{committee.name}}</p>
    </div>
  </div>
</div>