@import 'nib'

.button-nav
  vertical-align top

header
  margin auto
  position relative
  border-bottom 1px solid black

input.title
  border 0
  font-size xx-large
  height 100%
  min-width: 100%

header .input-prepend .icon-edit
  margin-top 5px


.component
  border-radius 5px
  border 3px solid gray
  background-color azure
  padding 10px
  margin-bottom 10px

  h2
    margin 0px -10px
    padding 0 10px 10px 10px
    border-bottom 1px solid gray
    text-align center

.d3 > svg
  margin 10px 0
  margin-bottom -10px

div.tooltip
  position: absolute;
  text-align: left;
  width: 250px;
  height: 35px;
  padding: 10px;
  font: 10px sans-serif;
  background: #ddd;
  border: solid 1px #aaa;
  border-radius: 8px;
  pointer-events: none;

.modal-footer > span
  float: left

.states
  fill: #aaa;
  stroke: #fff;
  stroke-width: 0.75px;

#mapHolder
  margin:2%;
  padding:20px;
  border:2px solid #d0d0d0;
  border-radius: 5px;


.ajax_loader
  position relative
  margin 50px auto