@import 'nib'

.reps-list
  padding 10px

input.zip
  width 50px
  padding 5px

.component
  border-radius 5px
  border 3px solid gray
  background-color azure
  padding 10px
  margin-bottom 10px

  h1
    margin 0px -10px
    padding 0 10px 10px 10px
    border-bottom 1px solid gray
    text-align center

.d3 > svg
  margin 10px 0
  margin-bottom -10px

div.tooltip
  position: absolute;
  text-align: left;
  width: 250px;
  height: 35px;
  padding: 10px;
  font: 10px sans-serif;
  background: #ddd;
  border: solid 1px #aaa;
  border-radius: 8px;
  pointer-events: none;

.ajax_loader
  position relative
  margin 50px auto