@import 'nib'
@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700)

///////////////////
// Sticky Footer //
///////////////////
$footer_height = 60px

html, body
  height 100%
  padding 0
  margin 0

#push, #footer
  height $footer_height

#wrap
  min-height 100%
  margin 0 auto -1*$footer_height auto

//responsive fix
@media (max-width 767px)
  #footer
    margin-left -20px
    margin-right -20px
    padding-left 20px
    padding-right 20px

///////////////////
// Basic Styles  //
///////////////////

body
  font-family: 'Oxygen', sans-serif

.ajax_loader
  position relative
  margin 50px auto

.right
  float right

.left
  float left

.clear
  clear both

.inline
  display inline

////////////////////
// Header Styles  //
////////////////////

header
  padding 0 2rem
  width 100%
  border-bottom 0.1rem solid black
  height 4rem
  vertical-align middle
  margin-top 1rem
  .icon-edit
    margin-right -0.5rem


.button-nav
  padding 0.5rem
  font-size 1rem
  height 2rem
  line-height 2rem

input.title
  border 0
  font-size xx-large
  height 100%
  min-width: 100%

////////////////////
// Footer Styles  //
////////////////////

///////////////////
// Icons Styles  //
///////////////////

///////////////////////
// Component Styles  //
///////////////////////

.component
  border-radius 5px
  border 3px solid gray
  background-color azure
  padding 10px
  margin-bottom 10px

  h2
    margin 0px -10px
    padding 0 10px 10px 10px
    border-bottom 1px solid gray
    text-align center

#mapHolder
  margin:5px;

//////////////////////
// d3 Graph Styles  //
//////////////////////

.d3 > svg
  margin 10px 0
  margin-bottom -10px

div.tooltip
  position: absolute;
  text-align: left;
  width: 250px;
  height: 35px;
  padding: 10px;
  font: 10px sans-serif;
  background: #ddd;
  border: solid 1px #aaa;
  border-radius: 8px;
  pointer-events: none;

.states
  fill: #aaa;
  stroke: #fff;
  stroke-width: 0.75px;

///////////////////
// modal Styles  //
///////////////////

.modal-footer > span
  float: left
