<div class="row-fluid">
  <div class="span7">
    <sub-view template="individual/components/overview-house"></sub-view>
    <sub-view template="individual/components/type-locality"></sub-view>
    <sub-view template="individual/components/contributors"></sub-view>
    <sub-view template="individual/components/industries"></sub-view>
    <sub-view template="individual/components/sectors"></sub-view>
  </div>
  <div class="span5">
    <div class="ind-data">
      <h1>Committees</h1>
      <p>{{selected_rep.overview.title}} {{selected_rep.overview.last_name}} serves as the {{selected_rep.overview.leadership_role}} and therefore does not serve on any committees.</p>
    </div>
    <sub-view template="individual/components/bills-sponsored"></sub-view>
    <sub-view template="individual/components/bills-cosponsored"></sub-view>
    <sub-view template="individual/components/bills-wdsponsor"></sub-view>  </div>
</div>