  <div class="row-fluid">
    <div class="span12">
      <h5>{{selected_rep.overview.title}}. {{selected_rep.overview.last_name}} currently</h5>
      <ng-switch on="selected_rep.overview.leader">
        <div ng-switch-when="false">
          <button class="btn" ng-click="modal_open('committees')">Serves on {{selected_rep.committees.length}} Committees</button>
          <sub-view template="modals/committees"></sub-view>
        </div>
        <div ng-switch-when="true">
          <p>serves as the {{selected_rep.overview.leadership_role}} and therefore does not serve on any committees.</p>
        </div>
      </ng-switch>
      <button class="btn" ng-click="modal_open('bills_sponsored')">Sponsored {{selected_rep.bills.sponsored.length}} Bills</button>
      <sub-view template="modals/bills_sponsored"></sub-view>
      <button class="btn" ng-click="modal_open('bills_cosponsored')">Co-Sponsored {{selected_rep.bills.cosponsored.length}} Bills</button>
      <sub-view template="modals/bills_cosponsored"></sub-view>
      <br /><span>For more information click on the buttons above.</span>
    </div>
  </div>