<div class="row-fluid">
  <div class="span7">
    <sub-view template="individual/components/overview-senate"></sub-view>
    <sub-view template="individual/components/contributors"></sub-view>
    <sub-view template="individual/components/industries"></sub-view>
    <sub-view template="individual/components/sectors"></sub-view>
  </div>
  <div class="span5">
    <sub-view template="individual/components/committees"></sub-view>
    <sub-view template="individual/components/bills-sponsored"></sub-view>
    <sub-view template="individual/components/bills-cosponsored"></sub-view>
    <sub-view template="individual/components/bills-wdsponsor"></sub-view>  </div>
</div>
